<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Сalculator</title>
</head>
<body>
    <h3>Calculator</h3>
    <form action="/calc" method="post">
        <input type="number" placeholder="0" name="value1">
        <select name="operator">
            <option value="addition">+</option>
            <option value="subtraction">-</option>
            <option value="multiplication">*</option>
            <option value="division">/</option>
        </select>
        <input type="number" placeholder="0" name="value2">
        <input type="submit" value="=">
    </form>
</body>
</html>