<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
</head>
<body>
    <h3>Registration</h3>
    <form action="/register" method="post">
        <span>UserName </span>
        <input type="text" placeholder="Enter name" name="name" required>
        <br>
        <span>Password </span>
        <input type="password" placeholder="Enter password" name="password" required>
        <br>
        <input type="submit" value="Sing up">
    </form>
</body>
</html>