<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User - {{current_user.email}}</title>
</head>
<body>
    <h1>Hello, {{current_user.email}}</h1>
    <p>Psw - {{current_user.password}}</p>
    <p><a href="/users">List of all users</a></p>
</body>
</html>