extends container
block content
    | Hello, #{userName}!
    br
    | Your account was created.
    br
    | For activating your account follow the link:
    br
    a(href=activeTokenLink) #{activeTokenLink}