doctype html
html
    head
        style
            include style.css
    body
        div
            | Hello world
        div
            block content
        div.footer
            | Best regards
            br
            a(href=frontendURL) Visit our web site