doctype html
html
    head
        style
            include style.css
    body
        div
            h2
                | ****BEST WEB SITE****
        hr
        div
            block content
        hr
        div.footer
            | Best regards
            br
            a(href=frontendURL) Visit our web site